@import "./game-assets/game-responsive";

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  // hero styles
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 70% 1fr;

    &__primary {
      & img {
        border-radius: 8px;
      }

      & h2 {
        position: absolute;
        bottom: 0.1rem;
        left: 0.1rem;
      }
    }

    &__secondary {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(5, 1fr);
      gap: 0.3rem;

      .thumbnail-item {
        align-items: flex-end;
      }

      & img {
        position: absolute;
        min-width: 100%;
        z-index: 0;
      }

      & h3 {
        padding: 0.2rem;
        border-radius: 8px;
        background-color: rgba(49, 49, 49, 0.7);
      }
    }
  }
}

@media (max-width: 480px) {
  // header styles
  .header {
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
    }
  }

  // hero styles
  .hero {
    &__secondary {
      grid-template-columns: repeat(4, 1fr);

      .thumbnail-item:last-child {
        display: none;
      }
    }
  }

  // footer styles {
  .footer {
    &__form {
      padding: 3rem 1rem;
      gap: 2rem;
    }

    &__menu-wrapper {
      gap: 1.5rem;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__menu {
      gap: 1rem;
    }
  }
}

@media (max-width: 320px) {
  // hero styles
  .hero {
    &__secondary {
      grid-template-columns: repeat(3, 1fr);

      .thumbnail-item:nth-last-child(2) {
        display: none;
      }
    }
  }
}
