* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $ff-primary;
    color: $clr-light;
    font-size: $fs-regular;
}

body {
    background-color: $clr-dark;
}

a {
    color: inherit;
    text-decoration: none;
}