// font family
$ff-primary: "roboto", sans-serif;
$ff-secondary: "montserrat", sans-serif;
// font size
$fs-small: 0.875rem;
$fs-regular: 1rem;
$fs-big: 1.5rem;
// colors
$clr-primary: #0061fd;
$clr-secondary: #2f2f2f;
$clr-dark: #141414;
$clr-darkblue: #0e1f30;
$clr-light: #ffffff;
$clr-darklight: #ebebf556;
