@media (max-width: 1024px) {
  // game styles
  .game {
    grid-template-columns: 65% 35%;
  }
}

@media (max-width: 768px) {
  // game styles
  .game {
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    gap: 0.5rem;

    &__slider {
      order: 2;
    }

    &__details {
      display: grid;
      grid-template-columns: 50% 1fr;
      gap: 0.5rem;
      order: 1;
      overflow: hidden;
    }

    &__img {
      height: 100%;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.5rem;
      max-height: 100%;
    }

    &__desc {
      max-height: 80px;
      margin: 0;
    }
  }
}

@media (max-width: 480px) {
  // game styles
  .game {
    grid-template-rows: 75% 25%;

    &__details {
      display: flex;
    }
  }
}

@media (max-width: 320px) {
}
