.list {
  gap: 0.5rem;

  &__item {
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.2rem;

    &:nth-child(odd) {
      background-color: #11263a;
    }

    &:nth-child(odd):hover {
      background-color: #142d44;
    }

    &:nth-child(even):hover {
      background-color: #11263a;
    }

    * {
      user-select: none;
      pointer-events: none;
    }
  }

  &__img {
    width: 200px;
    height: 100px;

    img {
      height: 100%;
    }
  }

  &__item-details {
    p {
      width: 200px;
      max-width: 100%;
    }
    img {
      width: 20px;
    }
  }

  &__release {
    margin-left: 20%;
  }
}
